.pays-history-table th:nth-child(1),
.pays-history-table td:nth-child(1) {
    width: 25% !important;
    text-align: left !important;
}

.pays-history-table th:not(:first-child),
.pays-history-table td:not(:first-child) {
    width: 12.5% !important;
    text-align: center !important;
}

